.section-our-team {
	padding: 10rem 0;
	background: #EBECF1;
}

.section-our-team .row {
	margin-top: 9rem;
}

.section-our-team .box {
	padding: 0 2rem;
	text-align: center;
}

.section-our-team .box-photo img {
	border-radius: 50%;
}

.section-our-team .box-photo-overlay {
	border-radius: 50%;
}